.header {
    position: fixed;
    top: 0px;
    height: var(--header-height);

    background-color: var(--header-bg-color);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .15);

    transition: all var(--show-side-bar-animation-time);
}

.header-sm {
    left: var(--side-bar-lg-width);
    width: calc(100% - var(--side-bar-lg-width));
}

.header-lg {
    left: var(--side-bar-sm-width);
    width: calc(100% - var(--side-bar-sm-width));
}