.side-bar-header {
    grid-area: side-bar-header;

    background-color: var(--side-bar-header-bg-color);
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.side-bar-header .side-bar-header-group-items {
    width: 100%;
    height: 100%;
    overflow: hidden;

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.side-bar-header .side-bar-header-group-items .side-bar-header-item .side-bar-header-link {
    text-decoration: none;
}

.side-bar-header .side-bar-header-group-items .side-bar-header-item .side-bar-header-icon {
    width: 32px;
    margin: 0px 10px 0px 5px;
    vertical-align: middle;
}

.side-bar-header .side-bar-header-group-items .side-bar-header-item .side-bar-header-logo {
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
}

.item-on {
    opacity: 1;
    transition: opacity 0s .4s;
}

.item-off {
    opacity: 0;
}